In [122]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import metrics

In [37]:
data = pd.read_csv('results.csv',header=None,delimiter=' ')

In [38]:
df = pd.DataFrame(data)

In [39]:
types = np.array(['apple','bat','beetle','bell','bird','Bone','bottle','brick','butterfly','camel','car','carriage','cattle','cellular_phone','chicken','children','chopper','classic','Comma','crown','cup','deer','device0','device1','device2','device3','device4','device5','device6','device7','device8','device9','dog','elephant','face','fish','flatfish','fly','fork','fountain','frog','Glas','guitar','hammer','hat','HCircle','Heart','horse','horseshoe','jar','key','lizzard','lmfish','Misk','octopus','pencil','personal_car','pocket','rat','ray','sea_snake','shoe','spoon','spring','stef','teddy','tree','truck','turtle','watch'])

In [16]:
types.shape

(70,)

In [44]:
for t in types:
    reg = '^' + t + '.*'
#     print(r'' + reg)
    df = df.replace(regex={reg:t})

In [46]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1,crown,crown,Heart,device6,HCircle,sea_snake,device7,jar,device7,...,lmfish,device4,lmfish,device0,shoe,sea_snake,shoe,Heart,Bone,device2
1,1,car,car,Heart,horse,device1,sea_snake,cellular_phone,device5,Comma,...,device4,Bone,shoe,spring,device7,Bone,shoe,Misk,HCircle,cellular_phone
2,1,truck,truck,beetle,device1,device1,device7,cup,device0,device1,...,beetle,teddy,lizzard,elephant,elephant,device0,device5,hat,device0,horse
3,1,lmfish,lmfish,shoe,Heart,device2,key,device4,bat,tree,...,jar,jar,device3,device8,fork,device1,jar,device6,device4,cup
4,1,deer,deer,deer,deer,deer,deer,pocket,bird,deer,...,deer,cattle,deer,cattle,deer,bird,butterfly,horse,cattle,deer

In [59]:
df_ss = df[df[0] == 1]
df_mfd = df[df[0] == 2]

In [60]:
df.shape

(2800, 22)

In [61]:
df_ss.shape

(1400, 22)

In [62]:
df_mfd.shape

(1400, 22)

In [63]:
df_ss = df_ss.drop([0],axis=1)
df_mfd = df_mfd.drop([0],axis=1)

In [65]:
df_ss.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
0,crown,crown,Heart,device6,HCircle,sea_snake,device7,jar,device7,Comma,...,lmfish,device4,lmfish,device0,shoe,sea_snake,shoe,Heart,Bone,device2
1,car,car,Heart,horse,device1,sea_snake,cellular_phone,device5,Comma,HCircle,...,device4,Bone,shoe,spring,device7,Bone,shoe,Misk,HCircle,cellular_phone
2,truck,truck,beetle,device1,device1,device7,cup,device0,device1,fountain,...,beetle,teddy,lizzard,elephant,elephant,device0,device5,hat,device0,horse
3,lmfish,lmfish,shoe,Heart,device2,key,device4,bat,tree,jar,...,jar,jar,device3,device8,fork,device1,jar,device6,device4,cup
4,deer,deer,deer,deer,deer,deer,pocket,bird,deer,lizzard,...,deer,cattle,deer,cattle,deer,bird,butterfly,horse,cattle,deer

In [154]:
test = np.ndarray(df_ss.shape).astype('str')

In [155]:
test.shape

(1400, 21)

In [156]:
for i in range(0,df_ss.shape[0]):
    test[i,:] = np.full((1,df_ss.shape[1]),df_ss[1][i])

In [157]:
test.shape

(1400, 21)

In [158]:
df_ss.shape

(1400, 21)

In [159]:
test

array([['crown', 'crown', 'crown', ..., 'crown', 'crown', 'crown'],
       ['car', 'car', 'car', ..., 'car', 'car', 'car'],
       ['truck', 'truck', 'truck', ..., 'truck', 'truck', 'truck'],
       ...,
       ['classic', 'classic', 'classic', ..., 'classic', 'classic',
        'classic'],
       ['car', 'car', 'car', ..., 'car', 'car', 'car'],
       ['guitar', 'guitar', 'guitar', ..., 'guitar', 'guitar', 'guitar']],
      dtype='<U32')

In [160]:
y_true = df_ss.values
y_pred = np.array(test).astype('object')

In [161]:
y_pred[0]

array(['crown', 'crown', 'crown', 'crown', 'crown', 'crown', 'crown',
       'crown', 'crown', 'crown', 'crown', 'crown', 'crown', 'crown',
       'crown', 'crown', 'crown', 'crown', 'crown', 'crown', 'crown'],
      dtype=object)

In [162]:
y_true[0]

array(['crown', 'crown', 'Heart', 'device6', 'HCircle', 'sea_snake',
       'device7', 'jar', 'device7', 'Comma', 'cup', 'lmfish', 'device4',
       'lmfish', 'device0', 'shoe', 'sea_snake', 'shoe', 'Heart', 'Bone',
       'device2'], dtype=object)

In [163]:
metrics.precision_recall_curve(y_true[0],y_pred[0])

ValueError: multiclass format is not supported

In [164]:
type(y_pred[0][0])

str

In [165]:
type(y_true[0][0])

str

In [168]:
metrics.precision_recall_curve([1,0,1,0],[1,1,1,1])

(array([0.5, 1. ]), array([1., 0.]), array([1]))